/** Main CSS **/
body
{
	margin: 0;
	font-family: 'Heebo', sans-serif;
}

p
{
	font-family: 'Slabo 27px', serif;
}

* 
{
  box-sizing: border-box;
}

/** Header Class CSS **/
.content1
{
	background-color: #4C5454;
	text-align: center;
	padding: 80px;
}

.content1 h1
{
	display: inline;
	font-size: 50px;
	background-color: #1EA896;
	color: #FFFFFF;
	padding: 10px; 
}

.content1 h2
{
	display: inline;
	font-size: 50px;
	background-color: #FFFFFF;
	color: #1EA896;
	padding: 10px; 
}

.content1 p
{
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

/** Navigation Class CSS **/
.navigation 
{
  	overflow: hidden;
	background-color: #333;
  	position: sticky;
  	position: -webkit-sticky;
  	top: 0;
}

.navigation a 
{
  	float: left;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 20px;
  	text-decoration: none;
}

.navigation a:hover 
{
  	background-color: #47C7B6;
  	color: black;
}

.navigation a.active 
{
  	background-color: #1EA896;
  	color: #FFFFFF;
}

/** The Body CSS **/
.row 
{  
  	display: flex;
  	flex-wrap: wrap;
}

.side 
{
  	flex: 30%;
  	background-color: #FFFFFF;
  	padding: 20px;
  	color: #000000;
}

.main 
{   
  	flex: 70%;
  	background-color: #1EA896;
  	padding: 20px;
}

/** Side Bar Stuffs CSS **/
.spec1
{
	height: 60px; 
	background-color: #47C7B6; 
	padding: 20px; 
	color: #FFFFFF; 
	text-align: center;
}

.side h2
{
	background-color: #1EA896; 
	color: #FFFFFF; 
	text-align: center; 
	margin: 0;
}

/** Image CSS **/
.fakeimg 
{
	background-image: url("../Assets/bg1.jpg");
	width: 100%;
  	padding: 20px;
  	background-repeat: no-repeat;
}

.prf1
{
	background-image: url("../Assets/profile1.jpg");
	background-repeat: no-repeat;
	width: 100%;
	padding: 20px;
	height: 350px;
}

/** Footer CSS **/
.footer 
{
  	padding: 20px;
  	background: #333;
  	color: #FFFFFF;
  	text-align: center;
}

.footer h1
{
	display: inline;
	font-size: 12px;
	background-color: #1EA896;
	color: #FFFFFF;
	padding: 10px; 
}

.footer h2
{
	display: inline;
	font-size: 12px;
	background-color: #FFFFFF;
	color: #1EA896;
	padding: 10px; 
}

.footer p
{
	color: #FFFFFF;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

.footer a
{
	background-color: #333;
	color: #1EA896;
	text-decoration: none;
}

.footer a:hover
{
	background-color: #1EA896;
	color: #FFFFFF;
	text-decoration: none;
}